.jojo-wrapper {
  width: 400px;
  margin: auto;
}

.jojo-label {
  font-family: sans-serif;
  font-size: 12px;
  fill: black;
  text-anchor: middle;
}

.jojo-rank {
  font-size: 14px;
  font-weight: bold;
}

.jojo-polygon {
  fill: rgba(255, 0, 0, 0.5);
  stroke: red;
  stroke-width: 2;
  transition: all 0.3s ease;
}